.DetailedNote {
  padding-top: 30px;
  min-width: 100%;
  display: flex;
  flex-direction: column;

  & .action-bar {
    padding: 20px 10%;
    display: flex;
    justify-content: space-around;

    & .flex-box {
      display: flex;
    }
  }

  & .note-zone {
    & .edit-text {
      min-width: 60%;
      padding: 10px;
      box-sizing: border-box;
      outline: transparent;
      border: transparent;
      font-size: 1.5rem;
      font-family: 'Roboto' sans-serif;
      color: rgba(0, 0, 0, 0.7);
      margin-bottom: 10px;
    }

    & .content {
      & textarea {
        height: 300px;
        resize: vertical;
      }
    }

    & .edit-date {
      & p {
        font-family: 'Roboto' sans-serif;
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}
